<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="confirmModalForm" method="post">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalTitle">Confirm</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body" id="confirmModalBody">Are you sure?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger" id="confirmModalSubmit">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>